{% extends "index.html" %}

{% block graphs %}
	<!--load the AJAX API-->
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>>
	<script type="text/javascript">
	google.load('visualization', '1.0', {'packages':['corechart']})
	
	// set a callback to run for google API	
	google.setOnLoadCallback(drawChart);

	// callback that creates and populates a data table
	// instantiates the pie chart, passes the data and draws.
	function drawChart() {
		// create the data table
		var data = new google.visualization.DataTable();
		data.addColumn('string','Languages');
		data.addColumn('number','Usage');
		data.addColumn({type: 'number', role: 'tooltip'});
		data.addRows({{ language_data | safe }});
		// set chart options
		var options = {'title': 'Most used languages on Twitter: All Tweets',
						'width': 800,
						'height': 600,
						sliceVisibilityThreshold: 0.01,
						is3D: true};
		// instantiate and draw our chart 
		var chart = new google.visualization.PieChart(document.GetElementById('chart_div'));
		chart.draw(data, options);


		// repeat for top_languages
		var data2 = new google.visualization.DataTable();
		data2.addColumn('string','Languages');
		data2.addColumn('number','Usage');
		data2.addColumn({type: 'number', role: 'annotation'});
		data2.addRows({{ top_language_data | safe }});

		var options2 = {'title': 'Most used languages on Twitter: Top Tweets',
						'width': 800,
						'height': 600,
						pieHole: 0.4};

		var chart2 = new google.visualization.PieChart(document.GetElementById('chart_div2'));
		chart2.draw(data2, options2);
	}	
	</script>>

{% endblock %}
{% block div %}
<b>Most used languages on Twitter: All Tweets:</b>
	<div id="chart_div"></div>
	<div id="chart_div2"></div>
{% endblock %}
