{% extends "index.html" %}

{% block graphs %}
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      //google.charts.setOnLoadCallback(drawChart);

    function drawChart(lang) {

      	// language_data 
    	var data1 = new google.visualization.DataTable();
		data1.addColumn('string', 'Language');
		data1.addColumn('number', 'Usage');
		// data1.addRows({{ language_data | safe }});
		data1.addRows(lang.lang)

		var options1 = {
			title: 'Most used languages on Twitter: All Tweets',
			sliceVisibilityThreshold: 0.01,
			is3D: true,
			height: 600
		};

		// instantiate and draw our chart 
		var chart1 = new google.visualization.PieChart(document.getElementById('chart_div1'));

		chart1.draw(data1, options1);

		// repeat for top_language_data 
		var data2 = new google.visualization.DataTable();
		data2.addColumn('string','Languages');
		data2.addColumn('number','Usage');
		// data2.addRows({{ top_language_data | safe }});
		data2.addRows(lang.top_lang)

		var options2 = {
			title: 'Most used languages on Twitter: Top Tweets',
			pieHole: 0.4,
			height: 600
		};

		var chart2 = new google.visualization.PieChart(document.getElementById('chart_div2'));
		chart2.draw(data2, options2);
	}
	
	function getLang() {
		fetch('/api/lang')
		.then((response) => {
			return response.json();
		})
		.then((lang) => {
			// use the data
			let langContainer = document.getElementById("datetime_lang");
			langContainer.innerHTML = "Date: " + lang.datetime_lang
			drawChart(lang)
		})
	}
	// call the method once
	getLang();
	// call the method every 10 seconds
	setInterval(getLang, 10000);
</script>
<h2>Most used languages on Twitter</h2>
Updated every 20 to 30 seconds.<br>
<div id="datetime_lang"></div>
<div style="width: 100%;">
    <div id="chart_div1" style="width: 50%; float: left"></div>
    <div id="chart_div2" style="width: 50%; float: right"></div>
</div>
{% endblock %}
